In [3]:
import sys
import os

# Add parent folder to Python path
sys.path.append(os.path.abspath(".."))

In [5]:
from nutrimap_app.data_prep import clean_food_data, scale_food_data

df_clean = clean_food_data()   # this generates ../data/processed/foods_cleaned.csv
df_clean

NaNs per column:
 food           0
energy_kcal    0
fat_g          0
satfat_g       0
carbs_g        0
sugars_g       0
protein_g      0
fiber_g        0
dtype: int64

,food,energy_kcal,fat_g,satfat_g,carbs_g,sugars_g,protein_g,fiber_g
0,cream cheese,51,5.0,2.900,0.8,0.500,0.9,0.0
1,neufchatel cheese,215,19.4,10.900,3.1,2.700,7.8,0.0
2,requeijao cremoso light catupiry,49,3.6,2.300,0.9,3.400,0.8,0.1
3,ricotta cheese,30,2.0,1.300,1.5,0.091,1.5,0.0
4,cream cheese low fat,30,2.3,1.400,1.2,0.900,1.2,0.0
...,...,...,...,...,...,...,...,...
2390,muesli master crumble,124,2.4,1.000,4.5,0.042,2.4,0.0
2391,bran flakes,131,0.8,0.200,32.2,7.400,4.0,7.3
2392,nut cereal,245,5.9,1.000,46.2,17.200,4.0,3.6
2393,corn flakes,108,0.3,0.098,24.6,2.200,1.7,0.8
2394,corn grits dry,36,0.2,0.022,7.7,0.008,0.7,0.4

In [6]:
df_scaled = scale_food_data()
df_scaled

,food,energy_kcal,fat_g,satfat_g,carbs_g,sugars_g,protein_g,fiber_g
0,cream cheese,0.008392,0.009079,0.004315,0.002050,0.001715,0.001606,0.000000
1,neufchatel cheese,0.035379,0.035228,0.016220,0.007945,0.009262,0.013921,0.000000
2,requeijao cremoso light catupiry,0.008063,0.006537,0.003423,0.002307,0.011664,0.001428,0.001307
3,ricotta cheese,0.004937,0.003632,0.001935,0.003844,0.000312,0.002677,0.000000
4,cream cheese low fat,0.004937,0.004177,0.002083,0.003075,0.003087,0.002142,0.000000
...,...,...,...,...,...,...,...,...
2390,muesli master crumble,0.020405,0.004358,0.001488,0.011533,0.000144,0.004283,0.000000
2391,bran flakes,0.021557,0.001453,0.000298,0.082522,0.025386,0.007139,0.095425
2392,nut cereal,0.040316,0.010714,0.001488,0.118401,0.059005,0.007139,0.047059
2393,corn flakes,0.017772,0.000545,0.000146,0.063045,0.007547,0.003034,0.010458
2394,corn grits dry,0.005924,0.000363,0.000033,0.019733,0.000027,0.001249,0.005229

In [11]:
from nutrimap_app.category_mapping import assign_food_group
df_clean["food_category"] = df_clean.apply(assign_food_group, axis=1)
df_clean.head(50)

,food,energy_kcal,fat_g,satfat_g,carbs_g,sugars_g,protein_g,fiber_g,food_category
0,cream cheese,51,5.000,2.900,0.800,0.500,0.900,0.000,oils_fats
1,neufchatel cheese,215,19.400,10.900,3.100,2.700,7.800,0.000,mixed/other
2,requeijao cremoso light catupiry,49,3.600,2.300,0.900,3.400,0.800,0.100,mixed/other
3,ricotta cheese,30,2.000,1.300,1.500,0.091,1.500,0.000,mixed/other
4,cream cheese low fat,30,2.300,1.400,1.200,0.900,1.200,0.000,mixed/other
5,cream cheese fat free,19,0.200,0.100,1.400,1.000,2.800,0.000,mixed/other
6,gruyere cheese,116,9.100,5.300,0.100,0.100,8.300,0.000,mixed/other
7,cheddar cheese,113,9.300,5.300,0.900,0.100,6.400,0.000,mixed/other
8,parmesan cheese,71,4.500,2.700,0.600,0.046,6.400,0.000,mixed/other
9,romano cheese,19,1.300,0.900,0.200,0.088,1.600,0.000,mixed/other
10,parmesan cheese grated,21,1.400,0.800,0.700,0.075,1.400,0.000,mixed/other
11,port salut cheese,465,37.200,22.000,0.800,0.800,31.400,0.000,meat_red
12,swiss cheese,98,7.700,4.600,0.400,0.000,6.700,0.000,mixed/other
13,goat cheese hard,128,10.100,7.000,0.600,0.600,8.600,0.000,mixed/other
14,gouda cheese,100,7.700,4.900,0.600,0.600,7.000,0.000,mixed/other
15,pepper jack cheese lucerne,75,6.000,4.000,0.000,0.000,5.000,2.500,nonstarchy_veg
16,caraway cheese,106,8.300,5.300,0.900,0.000,7.100,0.000,mixed/other
17,gjetost cheese,1058,67.000,43.500,96.800,0.000,21.900,0.000,mixed/other
18,tilsit cheese,136,10.400,6.700,0.800,0.000,9.800,0.000,mixed/other
19,goat cheese,103,8.400,5.800,0.009,0.031,6.100,0.000,mixed/other
20,brick cheese,111,8.900,5.600,0.800,0.200,7.000,0.000,mixed/other
21,asadero cheese,402,31.900,20.300,3.200,3.200,25.500,0.000,dairy_fatty
22,camembert cheese,90,7.300,4.600,0.100,0.100,5.900,0.000,mixed/other
23,provolone cheese reduced fat,310,19.900,12.800,4.000,0.600,27.900,0.000,meat_red
24,roquefort cheese,314,26.000,16.400,1.700,0.000,18.300,0.000,meat_red
25,queso blanco cheese,366,28.700,16.100,3.000,2.100,24.000,0.000,meat_red
26,queso seco cheese,315,23.600,13.300,2.000,0.500,23.800,0.000,meat_red
27,goat cheese soft,75,6.000,4.100,0.000,0.300,5.200,0.000,mixed/other
28,mozzarella cheese,90,6.600,4.200,0.700,0.000,6.700,0.000,mixed/other
29,chihuahua cheese,494,39.200,24.900,7.300,7.300,28.500,0.000,dairy_fatty
30,limburger cheese,98,8.200,5.000,0.100,0.100,6.000,0.000,mixed/other
31,muenster cheese,486,39.700,25.200,1.500,1.500,30.900,0.000,meat_red
32,queso fresco cheese,365,29.100,15.800,3.600,2.800,22.100,0.000,meat_red
33,brie cheese,100,8.300,5.200,0.100,0.100,6.200,0.000,mixed/other
34,pimento cheese,525,43.700,27.500,2.400,0.900,31.000,0.100,meat_red
35,mexican cheese,316,21.700,13.000,3.800,0.600,27.700,0.000,meat_red
36,feta cheese,80,6.400,4.000,1.200,0.000,4.300,0.000,mixed/other
37,mozzarella cheese fat free,159,0.000,0.000,4.000,1.700,35.800,2.000,fish_seafood
38,provolone cheese,463,35.100,22.500,2.800,0.700,33.800,0.000,meat_red
39,anejo cheese,492,39.600,25.100,6.100,6.100,28.300,0.000,dairy_fatty
40,honey,64,0.000,0.000,17.300,17.200,0.080,0.025,mixed/other
41,apple butter,35,0.063,0.038,8.500,7.100,0.045,0.300,mixed/other
42,fruit jam,56,0.095,0.021,13.800,9.700,0.000,0.200,mixed/other
43,chocolate hazelnut spread,100,5.500,5.300,11.500,10.000,1.000,1.000,mixed/other
44,peanut butter,88,7.400,1.400,3.600,1.000,3.300,0.900,mixed/other
45,peanut spread,101,8.500,1.600,2.200,0.500,3.800,1.200,mixed/other
46,chicken spread,88,9.800,1.800,2.300,0.300,10.100,0.200,oils_fats
47,cheese spread,708,68.600,43.200,8.400,8.400,17.000,0.000,oils_fats
48,tahini,86,7.200,1.000,3.900,0.000,2.700,1.400,mixed/other
49,orange marmalade,49,0.000,0.000,13.300,12.000,0.014,0.100,mixed/other

In [14]:
from nutrimap_app.category_mapping import assign_food_group

df_clean["food_category"] = df_clean.apply(assign_food_group, axis=1)

df_clean.sample(100, random_state=42)

,food,energy_kcal,fat_g,satfat_g,carbs_g,sugars_g,protein_g,fiber_g,food_category
443,carp raw,277,12.200,2.400,0.0,0.0,38.9,0.0,meat_red
196,green pea soup,320,5.700,2.700,51.7,16.7,16.7,10.0,dairy_fatty
1505,japanese soba noodles dry,95,0.200,0.084,21.1,0.0,4.1,0.0,mixed/other
1956,okra,4,0.082,0.001,0.9,0.2,0.2,0.4,mixed/other
2091,sweet green peppers cooked,19,0.100,0.037,4.5,2.3,0.7,0.9,mixed/other
...,...,...,...,...,...,...,...,...,...
767,navy beans raw,701,3.100,0.400,126.4,8.1,46.4,50.8,legumes_pulses
2361,sesame seeds toasted,45,3.800,0.500,2.1,0.0,1.4,1.1,mixed/other
1272,fruit coffeecake,156,5.100,1.200,25.8,0.0,2.6,1.3,mixed/other
2203,chocolate powder for milk,88,0.500,0.500,19.9,18.0,1.0,1.0,mixed/other
282,crispy chicken thigh kentucky fried chicken,163,9.100,2.500,0.0,0.0,20.4,0.0,eggs